// clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin container {
  padding: 140px 0;
}

@mixin title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

@mixin sub-title {
  font-size: 18px;
  color: $sub-title-color;
  text-align: center;
  line-height: 32px;
}

@mixin title-hr {
  width: 80px;
  height: 2px;
  border: none;
  background-color: $title-hr-color;
  margin: 26px auto;
}

@mixin icon-hr {
  width: 40px;
  height: 5px;
  border: none;
  background-color: $icon-hr-color;
  margin: 40px auto;
}