.main {
  width: 100%;
  height: 90%;
  position: relative;
}
.main-video {
  width: 100%;
  height: 100%;
}

.navigation{
  width: 100%;
  height: 90px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 0.92rem;
  padding-top: 20px;
  z-index: 1000;
  background-color: rgba(66, 66, 66, 0.219);
  ul{
      width: 1100px;
      margin: 0 auto;
  }
  li{
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
  }
  li:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6){
      &:hover{
          border-bottom: 1px solid rgb(249, 175, 72);
          color: rgb(249, 175, 72);
          padding-bottom: 7px;        
      }
  }
  a{
  color: #fff;
  font-weight: 600;
  float: right;
  border: 0.5px solid #fff;
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 18px;
  padding-left: 30px;
  &:hover{
      background-color: rgba(249, 175, 72, 0.486);
      color: #fff;
      // border-color: rgba(249, 175, 72, 0.486);
      border: none;
      }
  }
}
.nav-logo{
  width: 160px;
  height: 100px;
  padding: 0px 5px 5px 5px;
  float: left;
  position: relative;
  // left: 30px;
  bottom: 25px;
}
.nav-program, .nav-detail, .nav-cast, .nav-status{
  margin-right: 50px;

}
.nav-program, .nav-detail, .nav-cast, .nav-status, .nav-contact{
  margin-top: 30px;
}

.main-title {
  position: absolute;
  width: 1100px;
  top: 55%;
  transform: translateY(-55%);
  left: 50%;
  margin-left: -524px;
  color: #fff;
  text-shadow: #666 3px 3px 5px;
}
.main-text {
  font-size: 70px;
  margin-bottom: 58px;
}
.sub-text {
  font-size: 22px;
  line-height: 38px;
  margin-left: 15px;
}
.main-btn {
  position: absolute;
  top: 75%;
  transform: translateY(75%);
  left: 50%;
  margin-left: -131px;
  z-index: 1;
  width: 262px;
  height: 55px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.219);
  font-size: 20px;
  color: #fff;
  text-shadow: #666 3px 3px 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.219)
  }
}