.main {
  @include min-width;
  height: 100vh;
  position: relative;
}
// .video-container {
//   width: 100%;
//   height: 90vh;
//   overflow: hidden;
// }
// .main-video {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }
.video-container {
  // position: absolute;
  // top: 0;
  // @include min-width;
  width: 2500px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}
.main-video {
  // @include min-width;
  // width: 2500px;
  width: 100%;
  // height: 100%;
  
}

.navigation{
  width: 100%;
  height: 90px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 0.92rem;
  padding-top: 20px;
  // z-index: 1000;
  background-color: rgba(66, 66, 66, 0.418);
  ul{
      width: 1100px;
      margin: 0 auto;
  }
  li{
      display: inline-block;
      margin: 28px 18px 0px;
      cursor: pointer;
      &:hover{
          border-bottom: 2px solid #fff;
          // color: rgb(249, 175, 72);
          padding-bottom: 7px;        
      }
  }
  a{
  color: #fff;
  font-weight: 600;
  float: right;
  border: 0.5px solid #fff;
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 18px;
  padding-left: 30px;
  &:hover{
      background-color: rgba(0, 0, 0, 0.418);
      color: #fff;
      }
  }
}
.fix-navigation {
  z-index: 2000;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 2px 30px #999;
  color: #141414;
  li:hover {
    border-bottom: 2px solid #999;
  }
  a {
    color: #141414;
    border-color: #141414;
    &:hover{
      background-color: #141414;
      color: #fff;
      }
  }
}
.nav-logo{
  width: 160px;
  height: 100px;
  padding: 3px 5px 5px 5px;
  float: left;
  position: relative;
  bottom: 25px;
  &:hover {
    cursor: pointer;
  }
}


.main-title {
  position: absolute;
  width: 1100px;
  top: 55%;
  transform: translateY(-55%);
  left: 50%;
  margin-left: -524px;
  color: #fff;
  text-shadow: #666 3px 3px 5px;
}
.main-text {
  font-size: 70px;
  margin-bottom: 58px;
}
.sub-text {
  font-size: 22px;
  line-height: 38px;
  margin-left: 15px;
}
.main-btn {
  position: absolute;
  top: 75%;
  transform: translateY(75%);
  left: 50%;
  margin-left: -131px;
  z-index: 1;
  width: 262px;
  height: 55px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.219);
  font-size: 20px;
  color: #fff;
  text-shadow: #666 3px 3px 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.418);
  }
}
