.program {
  @include container;
  background-color: $background-color;
}
.pro-container {
  width: 1054px;
  margin: 80px auto 0px;
  @include clearfix;
}
.box1 {
  width: 516px;
  height: 660px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 3px 3px 10px #ccc;
  float: left;
  & > .small-box {
    background-color: #fdb428;
    border-color: #fdb428;
  }
}
.box2 {
  width: 516px;
  height: 660px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 3px 3px 10px #ccc;  
  float: right;
}
.program-img {
  width: 100%;
  height: 325px;
  margin-bottom: 35px;
 // s-수정 필요
  background-color: #141414;
  color: #fff;
  text-align: center;
  line-height: 325px;
// e-수정 필요
}
.small-box {
  width: 112px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #4c6eb5;
  border-radius: 16px;
  background-color: #4c6eb5;
  color: #fff;
  padding: 8px 0px;
  text-align: center;
}
.pro-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.pro-hr {
  width: 460px;
  height: 1px;
  border: none;
  background-color: #ececec;
  margin: 24px auto;
}
.pro-sub-text {
  font-size: 16px;
  color: $sub-title-color;
  text-align: center;
  line-height: 28px;
}
.pro-more-btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 186px;
  height: 48px;
  border: 2px solid #c2c1c1;
  color: $sub-title-color;
  font-size: 16px;
  &:hover {
    background-color: $background-color;
  }
}